#home {
  display: flex;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../../pics/mozzarestaurante.jpg);
  background-position: center center;
  justify-content: center;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;

  .hometext1 {
    font-size: 4rem;
    font-family: "Dancing Script", cursive;
    color: $primary;
    opacity: 100%;
  }

  .barName {
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;
    font-family: "Vidaloka", serif;
  }

  .chefhat {
    display: flex;
    padding:1rem;
    width: 2rem;
    filter: invert(40%) sepia(7%) saturate(2827%) hue-rotate(4deg)
      brightness(101%) contrast(93%);
  }

  .hometext2 {
    font-family: sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
  }
}
