nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f1f1f;
    height: 10rem;

    a {
        text-decoration: none;
        color: white;
        margin-right: 20px;
        padding: 20px;
        
        &:hover{
            border-bottom: solid $primary 2px;
            padding-bottom: 1rem;
          
          }
    }

    ul {
        list-style: none;
        display: flex;
        font-family: sans-serif;
      }
  }